.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
}
.header{
    background-image: url('../images/Hero-bg.png');
    padding: 0px 0px 150px 0px;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white; 
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: 20px 0px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.logo-title{
    font-size: 90px;
}
h3{
    font-size: 34px;
    color: #4E47FF;
}
h4{
    font-size: 42px;
    color: #252432;
}
.banner-title{
    font-size: 65px;
    color: #252432;
    text-align: center;
}
.banner-title-02{
    font-size: 38px;
    color: #252432;
    text-align: center;
}
.paragraph{
    font-size: 24px;
    color: #252432;
}
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.img-section-01{
    border-radius: 48px;
}
.value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.value-2{
    font-weight: 800;
    font-size: 80px;
    color: #4E47FF;
    margin: 0px 158px 0px 142px;
}
.value-3{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin: 0px 158px 0px 142px;
}
.section-2{
    margin: 100px 100px;
    border-radius: 10px;
    padding: 80px 150px;
    text-align: center;
    background-color: #e5e7ff;
}
.section-3{
    margin: 100px 100px;
    border-radius: 14px;
    padding: 80px 150px;
    text-align: center;
    background-color: #ffffff;
}
.bg-color{
    background-color: #f5f8ff;
}
